:root {
    --color-text: #d0d0d0;
    --color-bars-background: #191919;
    --space:1rem;
}

* {
    box-sizing: border-box;
}

body {
    background: #242424;
    color: var(--color-text); 
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 

}

article {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    display:grid;
    grid-template-rows: auto 1fr auto;   
}

#title {
    background: var(--color-bars-background);
    padding: var(--space); 
}

#title h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#output {
    padding: var(--space);

}

#input {
    background: var(--color-bars-background);
    padding: var(--space);
}

#input form {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-areas: ". user input button .";
}

#input input,
#input button {
    background: var(--color-text);
    color: var(--color-bars-background);
}

#input div {
    grid-area: user;
    padding: .5rem;
    border: none;
}

#input input {
    grid-area: input;
    padding: .5rem;
    border: none;
    width: 50vw;
    max-width: 750px;
}

#input button {
    grid-area: button;
    border: none;
    padding: .5rem 2rem;
}

@media (max-width:800px) {
    #input form {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "input input"
            "user button";
    }

    #input input {
        grid-area: input;
        width: 100%;
    }    
}

.message {
    margin-bottom: .5rem;
}

